 /*Estilos da página INDEX*/

 body {
    font-family: 'Poppins', sans-serif;
 }

 nav {
     background-color: #8230ee;
 }

 #menu li {
     display: inline;
     padding: 20px;
 }

 #menu li a {
    text-decoration: none;
    color: #f3f3f3;
    font-size: 30px;
    font-weight: bold;
}

#menu li a:hover {
    color: #604781;
}

 .titulos {
    font-size: 40x;
    color: #4D4D4D;
    text-align: center;
 }

 p {
     font-size: 18px;
     color: #4D4D4D;
     font-weight: bold;
     padding-left: 15%;
     padding-right: 5%;
     text-align: justify;
}

.imagem {
    padding-right: 5%;
}

 .container {
     display: flex;
     flex-flow: row;
     justify-content: center;
     align-items: center;
 }

 .video {
     padding-bottom: 30px;
 }

 .tamanho {
     width: 20%;
     height: 20%;
     padding: 20px 10px 20px 10px;
 }

 .copy {
    font-size: 14px;
    text-align: center;
    color: #4D4D4D;
    font-weight: bold;
 }

 /*Pagina COntato*/
 .alinhamentoForms {
     padding-left: 30px;
 }